alias ls="exa"
alias ll="exa -l"
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/.cargo/env:$PATH"
export THESIS="$HOME/Documents/Studium/Master/Thesis"
alias config='/usr/local/bin/git --git-dir=/Users/tobscore/.cfg/ --work-tree=/Users/tobscore'

